.btn-add.primary {
  background: var(--primary); /* blue */
  color: white;
}

.btn-add.secondary {
  background: var(--secondary); /* green */
  color: white;
}
.btn-add.success {
  background: var(--success-color); /* green */
  color: white;
}

.btn-add.warning {
  background: var(--warning-color); /* orange */
  color: white;
}

.btn-add.error {
  background: var(--bg-error); /* red */
  color: white;
}

/* hover effect */
.btn-add:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.loader {
  width: 18px;
  height: 18px;
  display: block;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
