<div
  class="card py-4 flex flex-col items-center justify-center gap-2 border border-(--primary) rounded-lg bg-[linear-gradient(45deg,var(--card-bg),var(--bg),var(--card-bg),var(--bg))] hover:shadow-[0_0_5px_var(--primary)] hover:scale-[1.03]"
>
  <div
    class="icon-box w-10 h-10 grid place-items-center text-xl text-(--primary) border rounded-full"
  >
    <i [class]="`${icon()}`"></i>
  </div>
  <div class="kpi-content flex flex-col items-center">
    <div class="title text-xl">{{ title() }}</div>
    <div class="text-(--primary)">{{ count() }}</div>
    <div [class]="{ 'text-green-500': count() > 0, 'text-red-500': count() < 0 }">{{ rate() }}</div>
  </div>
</div>
