@if (open()) {
  <div class="container-form">
    <div class="backdrop" (click)="close()"></div>
    <div class="dialog relative rounded-xl shadow-[0_0_15px_var(--primary)]">
      <form
        [formGroup]="form()"
        (ngSubmit)="submit()"
        class="p-6  space-y-5 bg-[var(--card-bg)]"
      >
        <!-- title -->
        <h2 class="text-3xl font-semibold text-[var(--primary)]">
          {{ title() }}
        </h2>

        <!-- projected fields -->
        <ng-content></ng-content>

        <!-- actions -->
        <div class="flex justify-end pt-4 gap-5">
          <button
            type="button"
            (click)="close()"
            class="text-md px-4 py-2 rounded-lg hover:bg-red-700 bg-red-500 text-white"
          >
            close
          </button>
                    <button
            type="submit"
            class="text-lg font-bold px-4 py-2 rounded-lg hover:bg-blue-700 bg-blue-600 text-white"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
}
