<div class="dashboard-container" [class.sidebar-collapsed]="sidebarCollapsed">
    <app-sidebar [collapsed]="sidebarCollapsed" [mobileOpen]="sidebarOpen"
        (closeMobile)="closeMobileSidebar()"></app-sidebar>
    @if(isMobile && sidebarOpen){
    <div class="backdrop" (click)="closeMobileSidebar()"></div>
    }
    <div class="main-area">
        <app-header [theme]="theme" (toggleSidebar)="toggleSidebar()" (toggleTheme)="toggleTheme()"></app-header>

        <section class="content">
            <router-outlet></router-outlet>
        </section>

        <app-footer></app-footer>
    </div>
</div>